name: Lint Dockerfile

on:
  workflow_dispatch:

jobs:
  linter:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        os:
          - alpine
          - debian

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Lint Dockerfile
        uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: Dockerfile-${{ matrix.os }}
          no-fail: true
