name: Trivy

on:
  workflow_dispatch:
  workflow_run:
    workflows:
      - Docker
    types: completed

jobs:
  scan:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os:
          - alpine
          - debian
        ruby-version:
          - "3.4"
          - "4.0"

    steps:
      - name: Run Trivy vulnerability scanner
        if: github.event_name == 'workflow_dispatch' || github.event.workflow_run.conclusion == 'success'
        uses: aquasecurity/trivy-action@0.34.0
        with:
          scan-ref: ${{ github.repository_owner }}/canvas-lms:ruby${{ matrix.ruby-version }}-${{ matrix.os }}
          scanners: vuln
